flask==3.0.3
python-dotenv==1.0.1
requests==2.31.0
PyMuPDF==1.18.19
langchain==0.1.17
langchain-community==0.0.36
langchain-huggingface==0.0.3
huggingface-hub==0.22.2
sentence-transformers==2.7.0
chromadb==0.4.24
tqdm==4.66.4
